@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: auto;
    background-color: rgb(247, 236, 236);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 20px;
}

li a:hover {
    color: blue;
}

#nav-bar a {
    text-decoration: none;
    color: grey;
}

#nav-bar ul {
    list-style-type: none;
    display: inline;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
}

.buttons {
    color: white;
    background-color: rgb(7, 7, 114);
    padding: 14px;
}

#discover-section {
    width: 1250px;
    margin: 70px;
    display: flex;
    justify-content: center;
}


#discover-section h1 {
    font-weight: bold;
    color: black;
    font-size: 4em;
}

#discover-section p {
    color: grey;
}

#get-in-touch {
    display: inline;
}

#img-container {
    position: relative;
}

.hero-img {
    height: 500px;
}

.card-img {
    height: 270px;
    position: absolute;
    left: -40px;
}

.thumb-img {
    height: 250px;
    position: absolute;
    bottom: -30px;
    left: 300px;
}

#brands-row {
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
}

.img-col {
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.img-col img {
    width: 100%;
    height: auto;
}

#project {
    text-align: center;
}

#project div {
    width: 30%;
    margin: 1px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-sizing: border-box;
    /* flex-direction: column;
    justify-content: space-between; */
}


.projects img {
    width: 100%;
}

.projects p {
    text-align: left;
}

.project-description {
    font-weight: bold;
    color: black;
    font-size: 1em;
}

#feedback {
    background-image: url("https://github.com/dzc1/amazon-class01-apr23/blob/main/boiler-plates/midterm-boiler-plates/midterm-project-boiler/resources/images/testimonial-section/orbit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




/* footer section */
footer {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin: 100px 200px 100px 200px;
}

#address {
    padding-bottom: 10px;
    font-size: 10px;
}

#footer-menu {
    display: grid;
    grid-template-columns: 100px 100px 80px;
    gap: 30px;
}

#footer-menu a {
    font-size: 15px;
    text-decoration: none;
}

#footer-menu a:hover {
    font-size: 17px;
    text-decoration: none;
    color: #5C6594
}